
@{
    ViewBag.Title = "Анкети";
}
<h2></h2>
<iframe src="http://www.strawpoll.me/embed_1/15064386" style="width:100%;height:450px;border:0;">Loading poll...</iframe>
@*<iframe src="http://www.strawpoll.me/embed_1/15034849" style="width:100%;height:550px;">Loading poll...</iframe>
<iframe src="http://www.strawpoll.me/embed_1/15028773" style="width:100%;height:750px;">Loading poll...</iframe>*@