#content-wrapper, #search-wrapper, .admin {
    display: none;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_444444_256x240.png");
}

.ui-widget-header .ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_444444_256x240.png");
}

.ui-button .ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_777777_256x240.png");
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon,
.ui-state-default .ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_555555_256x240.png");
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_ffffff_256x240.png");
}

.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_777620_256x240.png");
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url("/Content//themes/base/images/ui-icons_cc0000_256x240.png");
}

a, footer, .modal-header, label.col-form-label, .blueblood {
    color: #0275d8;
}

.margin-10-10 {
    margin: 10px 10px;
}